.project
.classpath
*.class

# Package Files #
*.jar
*.war
*.ear

tank-client/.project
tank-client/.classpath
tank-client/.settings/
tank-client/target/

tank-server/.project
tank-server/.classpath
tank-server/target/
tank-server/.settings/